### Import libraries and other configurations:

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine

In [3]:
pd.set_option('display.max_rows', 200)

In [4]:
pd.set_option('display.max_columns', 20)

In [5]:
pd.set_option('display.max_colwidth', -1)

### SQLite conection with engine creation:

In [6]:
sqlitedb_path = '../data/raw/herreradelduque.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [7]:
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

,type,name,tbl_name,rootpage,sql
0,table,rank_info,rank_info,2,"CREATE TABLE rank_info (\n\tid BIGINT NOT NULL, \n\tname TEXT, \n\tposition FLOAT, \n\t""Unnamed: 0"" BIGINT, \n\tCONSTRAINT rank_info_pk PRIMARY KEY (id)\n)"
1,table,personal_info,personal_info,34,"CREATE TABLE personal_info (\n\tid BIGINT NOT NULL, \n\t""lastName"" TEXT, \n\tage TEXT, \n\t""Unnamed: 0"" BIGINT, \n\tgender TEXT, \n\tcountry TEXT, \n\timage TEXT, \n\tCONSTRAINT personal_info_pk PRIMARY KEY (id)\n)"
2,table,business_info,business_info,155,"CREATE TABLE business_info (\n\tid BIGINT NOT NULL, \n\t""Unnamed: 0"" BIGINT, \n\t""Source"" TEXT, \n\tworth TEXT, \n\t""worthChange"" TEXT, \n\t""realTimeWorth"" FLOAT, \n\t""realTimePosition"" BIGINT, \n\tCONSTRAINT business_info_pk PRIMARY KEY (id)\n)"

In [8]:
rank_info = pd.read_sql_query("SELECT * FROM rank_info", engine)
display(rank_info)

        id                         name  position  Unnamed: 0
0     5788  anant asavABHOKHIN & FAmily NaN        0
1     1023  aRASH FERDowsi              NaN        1
2     6230  banthoon LAMSAM & FAmily    NaN        2
3     4073  bill adderLEY & family      NaN        3
4     7648  boris ZINGARevich           NaN        4
...    ...                ...            ..       ..
2255  5027  zhao XIAOQIang               2204.0    2255
2256  1258  zHOU LIANGZHang              2205.0    2256
2257  7890  zhu XINGMing                 2206.0    2257
2258  9083  zhuO JUN                     2207.0    2258
2259  9092  olGUN ZOrlu                  2208.0    2259

[2260 rows x 4 columns]

In [9]:
personal_info = pd.read_sql_query("SELECT * FROM personal_info", engine)
personal_info

,id,lastName,age,Unnamed: 0,gender,country,image
0,6448,bEZOs,54 years old,52,M,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,GATES,62 years old,53,M,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,bufFETt,87 years old,54,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,arnAULT,69 years old,55,M,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,zUCKERBErg,1985,56,M,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
...,...,...,...,...,...,...,...
2203,5027,ZHAO,51 years old,2255,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2204,1258,zHOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2205,7890,ZHU,51 years old,2257,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2206,9083,zHUO,52 years old,2258,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2207,9092,zoRLu,54 years old,2259,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963

In [10]:
business_info = pd.read_sql_query("SELECT * FROM business_info", engine)
display(business_info)

,id,Unnamed: 0,Source,worth,worthChange,realTimeWorth,realTimePosition
0,6448,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1
1,3509,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2
2,3062,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3
3,5964,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4
4,1044,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5
...,...,...,...,...,...,...,...
2203,5027,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,None,2134
2204,1258,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,None,2134
2205,7890,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,None,1856
2206,9083,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,None,1978
2207,9092,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,None,1978

In [11]:
rank_info.dtypes

id            int64
name          object
position      float64
Unnamed: 0    int64
dtype: object

In [12]:
personal_info.dtypes

id            int64
lastName      object
age           object
Unnamed: 0    int64
gender        object
country       object
image         object
dtype: object

In [13]:
business_info.dtypes

id                  int64
Unnamed: 0          int64
Source              object
worth               object
worthChange         object
realTimeWorth       object
realTimePosition    int64
dtype: object

### Calulation of %Null Columns:

In [14]:
null_cols_rank = rank_info.isnull().sum()

null_cols_rank[null_cols_rank > 0]/ len(rank_info)*100

position    2.300885
dtype: float64

In [15]:
null_cols_personal_info = personal_info.isnull().sum()

null_cols_personal_info[null_cols_personal_info > 0] / len(personal_info) * 100

age       2.943841
gender    0.588768
dtype: float64

In [16]:
null_cols_business_info = business_info.isnull().sum()

null_cols_business_info[null_cols_business_info > 0] / len(business_info) * 100

realTimeWorth    100.0
dtype: float64

### Drop 'realTimeWorth' from 'business_info' DataFrame and check the # of cols:

In [17]:
business_info.drop(['realTimeWorth'], axis=1, inplace=True)

len(business_info.columns)

6

### Drop 'Unnamed: 0' from DataFrames, since it's duplicated (index), and check the # of cols:

In [18]:
rank_info.drop(['Unnamed: 0'], axis=1, inplace=True)
len(rank_info.columns)

3

In [19]:
personal_info.drop(['Unnamed: 0'], axis=1, inplace=True)
len(personal_info.columns)

6

In [20]:
business_info.drop(['Unnamed: 0'], axis=1, inplace=True)
len(business_info.columns)

5

### Drop the rows where at leats one element is missing

In [21]:
rank_info.dropna(inplace=True)
rank_info

        id             name  position
52    6448  jeFF BEzos       1.0
53    3509  biLL GATes       2.0
54    3062  warrEN BUFFETT   3.0
55    5964  berNARD ARNAult  4.0
56    1044  mark zuCKERberg  5.0
...    ...              ...  ...
2255  5027  zhao XIAOQIang   2204.0
2256  1258  zHOU LIANGZHang  2205.0
2257  7890  zhu XINGMing     2206.0
2258  9083  zhuO JUN         2207.0
2259  9092  olGUN ZOrlu      2208.0

[2208 rows x 3 columns]

### Fill null values

In [22]:
personal_info['age'].fillna(0,inplace=True)
personal_info['gender'].fillna(0,inplace=True)
personal_info.isnull().sum()

id          0
lastName    0
age         0
gender      0
country     0
image       0
dtype: int64

In [23]:
business_info.isnull().sum()

id                  0
Source              0
worth               0
worthChange         0
realTimePosition    0
dtype: int64

### String columns to title format:

In [24]:
rank_info['name'] = rank_info['name'].str.title()
rank_info

        id             name  position
52    6448  Jeff Bezos       1.0
53    3509  Bill Gates       2.0
54    3062  Warren Buffett   3.0
55    5964  Bernard Arnault  4.0
56    1044  Mark Zuckerberg  5.0
...    ...              ...  ...
2255  5027  Zhao Xiaoqiang   2204.0
2256  1258  Zhou Liangzhang  2205.0
2257  7890  Zhu Xingming     2206.0
2258  9083  Zhuo Jun         2207.0
2259  9092  Olgun Zorlu      2208.0

[2208 rows x 3 columns]

In [25]:
personal_info['lastName'] = personal_info['lastName'].str.title()
personal_info['country'] = personal_info['country'].str.title()
personal_info['gender'] = personal_info['gender'].str.title()
personal_info

,id,lastName,age,gender,country,image
0,6448,Bezos,54 years old,M,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,Gates,62 years old,M,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,Buffett,87 years old,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,Arnault,69 years old,M,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,Zuckerberg,1985,M,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
...,...,...,...,...,...,...
2203,5027,Zhao,51 years old,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2204,1258,Zhou,55 years old,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2205,7890,Zhu,51 years old,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2206,9083,Zhuo,52 years old,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2207,9092,Zorlu,54 years old,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963

In [26]:
business_info['Source'] = business_info['Source'].str.title()
business_info

,id,Source,worth,worthChange,realTimePosition
0,6448,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,1
1,3509,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,2
2,3062,Finance And Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3
3,5964,Fashion & Retail ==> Lvmh,72.0 BUSD,0.0 millions USD,4
4,1044,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,5
...,...,...,...,...,...
2203,5027,"Fashion & Retail ==> Fashion, Entertainment",1.0 BUSD,0.0 millions USD,2134
2204,1258,Manufacturing ==> Electrical Equipment,1.0 BUSD,nan millions USD,2134
2205,7890,Manufacturing ==> Electrical Equipment,1.0 BUSD,0.0 millions USD,1856
2206,9083,Manufacturing ==> Printed Circuit Boards,1.0 BUSD,0.0 millions USD,1978
2207,9092,Diversified ==> Diversified,1.0 BUSD,nan millions USD,1978

### Split columns:

In [27]:
business_info_temp = business_info['Source'].str.split(' ==> ',n=1, expand=True)

business_info['sector'] = business_info_temp[0]
business_info['corp.'] = business_info_temp[1]

 
business_info.drop(['Source'], axis=1, inplace=True)

business_info

,id,worth,worthChange,realTimePosition,sector,corp.
0,6448,112.0 BUSD,0.0 millions USD,1,Technology,Amazon
1,3509,90.0 BUSD,-0.001 millions USD,2,Technology,Microsoft
2,3062,84.0 BUSD,-0.002 millions USD,3,Finance And Investments,Berkshire Hathaway
3,5964,72.0 BUSD,0.0 millions USD,4,Fashion & Retail,Lvmh
4,1044,71.0 BUSD,0.0 millions USD,5,Technology,Facebook
...,...,...,...,...,...,...
2203,5027,1.0 BUSD,0.0 millions USD,2134,Fashion & Retail,"Fashion, Entertainment"
2204,1258,1.0 BUSD,nan millions USD,2134,Manufacturing,Electrical Equipment
2205,7890,1.0 BUSD,0.0 millions USD,1856,Manufacturing,Electrical Equipment
2206,9083,1.0 BUSD,0.0 millions USD,1978,Manufacturing,Printed Circuit Boards
2207,9092,1.0 BUSD,nan millions USD,1978,Diversified,Diversified

In [28]:
business_info_temp = business_info['worthChange'].str.split(' ',n=1, expand=True)

business_info['worth_change_musd'] = business_info_temp[0]
business_info['worth_to_drop'] = business_info_temp[1]

business_info.drop(['worth_to_drop'],axis=1, inplace=True)
business_info.drop(['worthChange'], axis=1, inplace=True)

business_info

,id,worth,realTimePosition,sector,corp.,worth_change_musd
0,6448,112.0 BUSD,1,Technology,Amazon,0.0
1,3509,90.0 BUSD,2,Technology,Microsoft,-0.001
2,3062,84.0 BUSD,3,Finance And Investments,Berkshire Hathaway,-0.002
3,5964,72.0 BUSD,4,Fashion & Retail,Lvmh,0.0
4,1044,71.0 BUSD,5,Technology,Facebook,0.0
...,...,...,...,...,...,...
2203,5027,1.0 BUSD,2134,Fashion & Retail,"Fashion, Entertainment",0.0
2204,1258,1.0 BUSD,2134,Manufacturing,Electrical Equipment,nan
2205,7890,1.0 BUSD,1856,Manufacturing,Electrical Equipment,0.0
2206,9083,1.0 BUSD,1978,Manufacturing,Printed Circuit Boards,0.0
2207,9092,1.0 BUSD,1978,Diversified,Diversified,nan

In [29]:
business_info_temp = business_info['worth'].str.split(' ', n=1,expand=True)

business_info['worth_busd'] = business_info_temp[0]
business_info['worth_to_drop'] = business_info_temp[1]

business_info.drop(['worth_to_drop'],axis=1,inplace=True)
business_info.drop(['worth'],axis=1,inplace=True)

business_info

,id,realTimePosition,sector,corp.,worth_change_musd,worth_busd
0,6448,1,Technology,Amazon,0.0,112.0
1,3509,2,Technology,Microsoft,-0.001,90.0
2,3062,3,Finance And Investments,Berkshire Hathaway,-0.002,84.0
3,5964,4,Fashion & Retail,Lvmh,0.0,72.0
4,1044,5,Technology,Facebook,0.0,71.0
...,...,...,...,...,...,...
2203,5027,2134,Fashion & Retail,"Fashion, Entertainment",0.0,1.0
2204,1258,2134,Manufacturing,Electrical Equipment,nan,1.0
2205,7890,1856,Manufacturing,Electrical Equipment,0.0,1.0
2206,9083,1978,Manufacturing,Printed Circuit Boards,0.0,1.0
2207,9092,1978,Diversified,Diversified,nan,1.0

In [30]:
personal_info_temp = personal_info['age'].str.split(' ',n=1,expand=True)

personal_info['age_years'] = personal_info_temp[0]
personal_info['age_to_drop'] = personal_info_temp[1]

personal_info.drop(['age'],axis=1,inplace=True)
personal_info.drop(['age_to_drop'],axis=1,inplace=True)

personal_info

,id,lastName,gender,country,image,age_years
0,6448,Bezos,M,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,Gates,M,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,Buffett,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,Arnault,M,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,Zuckerberg,M,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,1985
...,...,...,...,...,...,...
2203,5027,Zhao,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,Zhou,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,Zhu,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,Zhuo,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,Zorlu,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

### Rename columns to lowercase:

In [31]:
business_info.rename(columns={'realTimePosition':'real_time_position'}, inplace=True)
business_info

,id,real_time_position,sector,corp.,worth_change_musd,worth_busd
0,6448,1,Technology,Amazon,0.0,112.0
1,3509,2,Technology,Microsoft,-0.001,90.0
2,3062,3,Finance And Investments,Berkshire Hathaway,-0.002,84.0
3,5964,4,Fashion & Retail,Lvmh,0.0,72.0
4,1044,5,Technology,Facebook,0.0,71.0
...,...,...,...,...,...,...
2203,5027,2134,Fashion & Retail,"Fashion, Entertainment",0.0,1.0
2204,1258,2134,Manufacturing,Electrical Equipment,nan,1.0
2205,7890,1856,Manufacturing,Electrical Equipment,0.0,1.0
2206,9083,1978,Manufacturing,Printed Circuit Boards,0.0,1.0
2207,9092,1978,Diversified,Diversified,nan,1.0

Drop column 'real_time_position'

In [32]:
business_info.drop(['real_time_position'],axis=1,inplace=True)
business_info

,id,sector,corp.,worth_change_musd,worth_busd
0,6448,Technology,Amazon,0.0,112.0
1,3509,Technology,Microsoft,-0.001,90.0
2,3062,Finance And Investments,Berkshire Hathaway,-0.002,84.0
3,5964,Fashion & Retail,Lvmh,0.0,72.0
4,1044,Technology,Facebook,0.0,71.0
...,...,...,...,...,...
2203,5027,Fashion & Retail,"Fashion, Entertainment",0.0,1.0
2204,1258,Manufacturing,Electrical Equipment,nan,1.0
2205,7890,Manufacturing,Electrical Equipment,0.0,1.0
2206,9083,Manufacturing,Printed Circuit Boards,0.0,1.0
2207,9092,Diversified,Diversified,nan,1.0

### DataFrame adjust "astype()"

In [33]:
rank_info = rank_info.astype({'position': int})
rank_info.dtypes

id          int64
name        object
position    int64
dtype: object

In [34]:
business_info = business_info.astype({'worth_change_musd':float},{'worth_busd':float})
business_info.dtypes

id                   int64
sector               object
corp.                object
worth_change_musd    float64
worth_busd           object
dtype: object

In [35]:
#personal_info = personal_info.astype({'age_years':int})

# if we try to modify the column 'age_years', we get an error, because of null values
personal_info.isnull().sum()

id           0
lastName     0
gender       13
country      0
image        0
age_years    65
dtype: int64

### DataFrame replace values:

In [36]:
personal_info['gender'].replace(to_replace='M', value='Male',inplace=True)
personal_info['gender'].replace(to_replace='F', value='Female',inplace=True)

personal_info['age_years'].replace(to_replace='nan',value=-9999, inplace=True)

personal_info

,id,lastName,gender,country,image,age_years
0,6448,Bezos,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,Gates,Male,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,Buffett,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,Arnault,Male,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,Zuckerberg,Male,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,1985
...,...,...,...,...,...,...
2203,5027,Zhao,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,Zhou,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,Zhu,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,Zhuo,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,Zorlu,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

In [37]:
personal_info['age_years'].fillna(-9999, inplace=True)

In [38]:
personal_info['gender'].fillna('none', inplace=True)

In [39]:
personal_info.isnull().sum()

id           0
lastName     0
gender       0
country      0
image        0
age_years    0
dtype: int64

### ...dataFrame adjust "astype()"

In [40]:
personal_info = personal_info.astype({'age_years':int})

In [41]:
personal_info.dtypes

id           int64
lastName     object
gender       object
country      object
image        object
age_years    int64
dtype: object

### Year replacing by age:

In [42]:
personal_info.loc[personal_info['age_years']> 125, 'age_years'] = 2018 - personal_info['age_years']
personal_info

,id,lastName,gender,country,image,age_years
0,6448,Bezos,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,Gates,Male,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,Buffett,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,Arnault,Male,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,Zuckerberg,Male,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33
...,...,...,...,...,...,...
2203,5027,Zhao,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,Zhou,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,Zhu,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,Zhuo,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,Zorlu,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

### ...status of our dataframes:

In [43]:
personal_info

,id,lastName,gender,country,image,age_years
0,6448,Bezos,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,Gates,Male,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,Buffett,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,Arnault,Male,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,Zuckerberg,Male,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33
...,...,...,...,...,...,...
2203,5027,Zhao,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,Zhou,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,Zhu,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,Zhuo,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,Zorlu,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

In [44]:
business_info

,id,sector,corp.,worth_change_musd,worth_busd
0,6448,Technology,Amazon,0.000,112.0
1,3509,Technology,Microsoft,-0.001,90.0
2,3062,Finance And Investments,Berkshire Hathaway,-0.002,84.0
3,5964,Fashion & Retail,Lvmh,0.000,72.0
4,1044,Technology,Facebook,0.000,71.0
...,...,...,...,...,...
2203,5027,Fashion & Retail,"Fashion, Entertainment",0.000,1.0
2204,1258,Manufacturing,Electrical Equipment,NaN,1.0
2205,7890,Manufacturing,Electrical Equipment,0.000,1.0
2206,9083,Manufacturing,Printed Circuit Boards,0.000,1.0
2207,9092,Diversified,Diversified,NaN,1.0

In [45]:
rank_info

        id             name  position
52    6448  Jeff Bezos       1
53    3509  Bill Gates       2
54    3062  Warren Buffett   3
55    5964  Bernard Arnault  4
56    1044  Mark Zuckerberg  5
...    ...              ... ..
2255  5027  Zhao Xiaoqiang   2204
2256  1258  Zhou Liangzhang  2205
2257  7890  Zhu Xingming     2206
2258  9083  Zhuo Jun         2207
2259  9092  Olgun Zorlu      2208

[2208 rows x 3 columns]

### We need to merge the 3 dataframes in order to make our job eassyer:

In [64]:
forbes_df_intermediate_merge = pd.merge(rank_info, personal_info, on='id', how='outer')

forbes_df = pd.merge(forbes_df_intermediate_merge, business_info, on='id', how='outer')

forbes_df

,id,name,position,lastName,gender,country,image,age_years,sector,corp.,worth_change_musd,worth_busd
0,6448,Jeff Bezos,1,Bezos,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54,Technology,Amazon,0.000,112.0
1,3509,Bill Gates,2,Gates,Male,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62,Technology,Microsoft,-0.001,90.0
2,3062,Warren Buffett,3,Buffett,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87,Finance And Investments,Berkshire Hathaway,-0.002,84.0
3,5964,Bernard Arnault,4,Arnault,Male,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69,Fashion & Retail,Lvmh,0.000,72.0
4,1044,Mark Zuckerberg,5,Zuckerberg,Male,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33,Technology,Facebook,0.000,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,5027,Zhao Xiaoqiang,2204,Zhao,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,Fashion & Retail,"Fashion, Entertainment",0.000,1.0
2204,1258,Zhou Liangzhang,2205,Zhou,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55,Manufacturing,Electrical Equipment,NaN,1.0
2205,7890,Zhu Xingming,2206,Zhu,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,Manufacturing,Electrical Equipment,0.000,1.0
2206,9083,Zhuo Jun,2207,Zhuo,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52,Manufacturing,Printed Circuit Boards,0.000,1.0
2207,9092,Olgun Zorlu,2208,Zorlu,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54,Diversified,Diversified,NaN,1.0

### ...in our new dataframe we can identify some duplicated information as: 'name' <->'lastName' 
... so that, let's remove it!

In [65]:
forbes_df.drop(['lastName'], axis=1, inplace=True)
forbes_df

,id,name,position,gender,country,image,age_years,sector,corp.,worth_change_musd,worth_busd
0,6448,Jeff Bezos,1,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54,Technology,Amazon,0.000,112.0
1,3509,Bill Gates,2,Male,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62,Technology,Microsoft,-0.001,90.0
2,3062,Warren Buffett,3,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87,Finance And Investments,Berkshire Hathaway,-0.002,84.0
3,5964,Bernard Arnault,4,Male,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69,Fashion & Retail,Lvmh,0.000,72.0
4,1044,Mark Zuckerberg,5,Male,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33,Technology,Facebook,0.000,71.0
...,...,...,...,...,...,...,...,...,...,...,...
2203,5027,Zhao Xiaoqiang,2204,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,Fashion & Retail,"Fashion, Entertainment",0.000,1.0
2204,1258,Zhou Liangzhang,2205,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55,Manufacturing,Electrical Equipment,NaN,1.0
2205,7890,Zhu Xingming,2206,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,Manufacturing,Electrical Equipment,0.000,1.0
2206,9083,Zhuo Jun,2207,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52,Manufacturing,Printed Circuit Boards,0.000,1.0
2207,9092,Olgun Zorlu,2208,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54,Diversified,Diversified,NaN,1.0

In [66]:
forbes_df.drop(['worth_change_musd'], axis=1, inplace=True)
forbes_df

,id,name,position,gender,country,image,age_years,sector,corp.,worth_busd
0,6448,Jeff Bezos,1,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54,Technology,Amazon,112.0
1,3509,Bill Gates,2,Male,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62,Technology,Microsoft,90.0
2,3062,Warren Buffett,3,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87,Finance And Investments,Berkshire Hathaway,84.0
3,5964,Bernard Arnault,4,Male,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69,Fashion & Retail,Lvmh,72.0
4,1044,Mark Zuckerberg,5,Male,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33,Technology,Facebook,71.0
...,...,...,...,...,...,...,...,...,...,...
2203,5027,Zhao Xiaoqiang,2204,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,Fashion & Retail,"Fashion, Entertainment",1.0
2204,1258,Zhou Liangzhang,2205,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55,Manufacturing,Electrical Equipment,1.0
2205,7890,Zhu Xingming,2206,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,Manufacturing,Electrical Equipment,1.0
2206,9083,Zhuo Jun,2207,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52,Manufacturing,Printed Circuit Boards,1.0
2207,9092,Olgun Zorlu,2208,Male,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54,Diversified,Diversified,1.0

#### ...and some nulls:

In [67]:
forbes_df.isnull().sum()

id            0
name          0
position      0
gender        0
country       0
image         0
age_years     0
sector        0
corp.         0
worth_busd    0
dtype: int64

In [70]:
cols = forbes_df.columns.tolist()
print(cols)

['id', 'name', 'position', 'gender', 'country', 'image', 'age_years', 'sector', 'corp.', 'worth_busd']

In [72]:
cols = ['id','position', 'name', 'age_years', 'gender','country', 'sector', 'corp.', 'worth_busd','image']
forbes_df = forbes_df[cols]
forbes_df

,id,position,name,age_years,gender,country,sector,corp.,worth_busd,image
0,6448,1,Jeff Bezos,54,Male,United States,Technology,Amazon,112.0,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,2,Bill Gates,62,Male,United States,Technology,Microsoft,90.0,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,3,Warren Buffett,87,Male,United States,Finance And Investments,Berkshire Hathaway,84.0,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,4,Bernard Arnault,69,Male,None,Fashion & Retail,Lvmh,72.0,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,5,Mark Zuckerberg,33,Male,None,Technology,Facebook,71.0,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
...,...,...,...,...,...,...,...,...,...,...
2203,5027,2204,Zhao Xiaoqiang,51,None,None,Fashion & Retail,"Fashion, Entertainment",1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2204,1258,2205,Zhou Liangzhang,55,Male,None,Manufacturing,Electrical Equipment,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2205,7890,2206,Zhu Xingming,51,None,None,Manufacturing,Electrical Equipment,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2206,9083,2207,Zhuo Jun,52,None,None,Manufacturing,Printed Circuit Boards,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2207,9092,2208,Olgun Zorlu,54,Male,None,Diversified,Diversified,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963

In [73]:
forbes_df = forbes_df.sort_values('position',ascending=True)
forbes_df

,id,position,name,age_years,gender,country,sector,corp.,worth_busd,image
0,6448,1,Jeff Bezos,54,Male,United States,Technology,Amazon,112.0,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,2,Bill Gates,62,Male,United States,Technology,Microsoft,90.0,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,3,Warren Buffett,87,Male,United States,Finance And Investments,Berkshire Hathaway,84.0,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,4,Bernard Arnault,69,Male,None,Fashion & Retail,Lvmh,72.0,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,5,Mark Zuckerberg,33,Male,None,Technology,Facebook,71.0,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
...,...,...,...,...,...,...,...,...,...,...
2203,5027,2204,Zhao Xiaoqiang,51,None,None,Fashion & Retail,"Fashion, Entertainment",1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2204,1258,2205,Zhou Liangzhang,55,Male,None,Manufacturing,Electrical Equipment,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2205,7890,2206,Zhu Xingming,51,None,None,Manufacturing,Electrical Equipment,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2206,9083,2207,Zhuo Jun,52,None,None,Manufacturing,Printed Circuit Boards,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2207,9092,2208,Olgun Zorlu,54,Male,None,Diversified,Diversified,1.0,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963

In [74]:
(forbes_df['country'] == 'None').sum()

1416

Standarized 'Gender' to Male/Female

In [75]:
forbes_df.replace(to_replace ='M', value ='Male', inplace=True)
forbes_df.replace(to_replace ='F', value ='Female', inplace=True)
forbes_df.head(50)

,id,position,name,age_years,gender,country,sector,corp.,worth_busd,image
0,6448,1,Jeff Bezos,54,Male,United States,Technology,Amazon,112.0,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,2,Bill Gates,62,Male,United States,Technology,Microsoft,90.0,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,3,Warren Buffett,87,Male,United States,Finance And Investments,Berkshire Hathaway,84.0,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,4,Bernard Arnault,69,Male,None,Fashion & Retail,Lvmh,72.0,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,5,Mark Zuckerberg,33,Male,None,Technology,Facebook,71.0,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
5,1005,6,Amancio Ortega,82,Male,None,Fashion & Retail,Zara,70.0,https://specials-images.forbesimg.com/imageserve/5a810ce6a7ea431690133fe6/416x416.jpg?background=000000&cropX1=250&cropX2=2266&cropY1=4&cropY2=2019
6,6940,7,Carlos Slim Helu,78,Male,None,Telecom,Telecom,67.1,https://specials-images.forbesimg.com/imageserve/5a7fcad931358e4955ad21fc/416x416.jpg?background=000000&cropX1=247&cropX2=2010&cropY1=226&cropY2=1990
7,2429,8,Charles Koch,82,Male,None,Diversified,Koch Industries,60.0,https://specials-images.forbesimg.com/imageserve/5638b4b5e4b0ffa7afe69a7f/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=53&cropY2=797
8,6977,9,David Koch,78,Male,United States,Diversified,Koch Industries,60.0,https://specials-images.forbesimg.com/imageserve/5a8d901531358e4955adf139/416x416.jpg?background=000000&cropX1=0&cropX2=2400&cropY1=81&cropY2=2481
9,6405,10,Larry Ellison,73,None,None,Technology,Software,58.5,https://specials-images.forbesimg.com/imageserve/5a8d9263a7ea431690140251/416x416.jpg?background=000000&cropX1=0&cropX2=2000&cropY1=197&cropY2=2198
10,6065,11,Michael Bloomberg,76,Male,United States,Media & Entertainment,Bloomberg Lp,50.0,https://specials-images.forbesimg.com/imageserve/58c1d278a7ea431f321add1f/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=40&cropY2=784
11,2163,12,Larry Page,45,Male,United States,Technology,Google,48.8,https://specials-images.forbesimg.com/imageserve/59d5098d4bbe6f37dd9ff6bc/416x416.jpg?background=000000&cropX1=1176&cropX2=2904&cropY1=222&cropY2=1950
12,2242,13,Sergey Brin,44,None,Usa,Technology,Google,47.5,https://specials-images.forbesimg.com/imageserve/5a8d93da31358e4955adf1c9/416x416.jpg?background=000000&cropX1=1399&cropX2=3806&cropY1=290&cropY2=2695
13,2589,14,Jim Walton,70,Male,None,Fashion & Retail,Walmart,46.4,https://specials-images.forbesimg.com/imageserve/56d1b7cce4b0c144a7f6639f/416x416.jpg?background=000000&cropX1=110&cropX2=516&cropY1=35&cropY2=441
14,8171,15,S. Robson Walton,73,Male,None,Fashion & Retail,Walmart,46.2,https://specials-images.forbesimg.com/imageserve/59d50a9e4bbe6f37dd9ff712/416x416.jpg?background=000000&cropX1=207&cropX2=1915&cropY1=82&cropY2=1791
15,3995,16,Alice Walton,68,Female,United States,Fashion & Retail,Walmart,46.0,https://specials-images.forbesimg.com/imageserve/59d50b364bbe6f37dd9ff759/416x416.jpg?background=000000&cropX1=97&cropX2=1126&cropY1=114&cropY2=1143
16,8082,17,Ma Huateng,46,None,China,Technology,Internet Media,45.3,https://specials-images.forbesimg.com/imageserve/5a7cdf46a7ea431690130bf0/416x416.jpg?background=000000&cropX1=1094&cropX2=3921&cropY1=6&cropY2=2832
17,6213,18,Francoise Bettencourt Meyers,64,Female,None,Fashion & Retail,L'Oreal,42.2,https://specials-images.forbesimg.com/imageserve/5a7def7631358e4955ad0a53/416x416.jpg?background=000000&cropX1=192&cropX2=973&cropY1=69&cropY2=849
18,3978,19,Mukesh Ambani,61,Male,None,Energy,"Petrochemicals, Oil & Gas",40.1,https://specials-images.forbesimg.com/imageserve/5a7f3b7931358e4955ad1a39/416x416.jpg?background=000000&cropX1=5&cropX2=1013&cropY1=214&cropY2=1223
19,7021,20,Jack Ma,53,Male,None,Technology,E-Commerce,39.0,https://specials-images.forbesimg.com/imageserve/5aa1598031358e79a28b5731/416x416.jpg?background=000000&cropX1=1454&cropX2=3297&cropY1=547&cropY2=2389
20,8304,21,Sheldon Adelson,84,Male,None,Gambling & Casinos,Casinos,38.5,https://specials-images.forbesimg.com/imageserve/5a8d9420a7ea43169014027b/416x416.jpg?background=000000&cropX1=935&cropX2=3219&cropY1=79&cropY2=2362
21,8507,22,Steve Ballmer,62,None,None,Technology,Microsoft,38.4,https://specials-images.forbesimg.com/imageserve/59d50c47a7ea436b47b36d66/416x416.jpg?background=000000&cropX1=656&cropX2=2920&cropY1=354&cropY2=2617
22,1385,23,Li Ka-Shing,90,Male,Hong Kong,Diversified,Diversified,34.9,https://specials-images.forbesimg.com/imageserve/5a7e6e914bbe6f2652f52a98/416x416.jpg?background=000000&cropX1=623&cropX2=3280&cropY1=6&cropY2=2661
23,8762,24,Hui Ka Yan,59,Male,None,Real Estate,Real Estate,30.3,https://specials-images.forbesimg.com/imageserve/5aecc8f4a7ea436b547c4c52/416x416.jpg?background=000000&cropX1=372&cropX2=2640&cropY1=490&cropY2=2756
24,6340,25,Lee Shau Kee,90,None,None,Real Estate,Real Estate,30.3,https://specials-images.forbesimg.com/imageserve/5a579beba7ea431690109b54/416x416.jpg?background=000000&cropX1=24&cropX2=1040&cropY1=66&cropY2=1082
25,3674,26,Wang Jianlin,63,None,None,Real Estate,Real Estate,30.0,https://specials-images.forbesimg.com/imageserve/5a7cf67f4bbe6f2652f510d4/416x416.jpg?background=000000&cropX1=810&cropX2=4091&cropY1=0&cropY2=3280
26,8954,27,Beate Heister & Karl Albrecht Jr.,66,none,None,Fashion & Retail,Supermarkets,29.8,https://specials-images.forbesimg.com/imageserve/5a7e087531358e4955ad0cfe/416x416.jpg?background=000000&cropX1=19&cropX2=2172&cropY1=186&cropY2=2340
27,4727,28,Phil Knight,80,Male,Usa,Fashion & Retail,Nike,29.6,https://specials-images.forbesimg.com/imageserve/5a8d930431358e4955adf1bb/416x416.jpg?background=000000&cropX1=1463&cropX2=2400&cropY1=35&cropY2=972
28,9488,29,Jorge Paulo Lemann,78,None,Brazil,Food And Beverage,Beer,27.4,https://specials-images.forbesimg.com/imageserve/5a7b803c4bbe6f2652f4ef67/416x416.jpg?background=000000&cropX1=794&cropX2=3457&cropY1=6&cropY2=2667
29,1739,30,Francois Pinault,81,Male,None,Fashion & Retail,Luxury Goods,27.0,https://specials-images.forbesimg.com/imageserve/5a7def27a7ea431690131b94/416x416.jpg?background=000000&cropX1=12&cropX2=2668&cropY1=208&cropY2=2866
30,7415,31,Georg Schaeffler,53,Male,None,Automotive,Auto Parts,25.3,https://specials-images.forbesimg.com/imageserve/5a7e12b631358e4955ad0fb2/416x416.jpg?background=000000&cropX1=835&cropX2=3880&cropY1=0&cropY2=3042
31,5507,32,Susanne Klatten,56,Female,Germany,Automotive,"Bmw, Pharmaceuticals",25.0,https://specials-images.forbesimg.com/imageserve/5a7e45f64bbe6f2652f5295a/416x416.jpg?background=000000&cropX1=10&cropX2=1120&cropY1=126&cropY2=1236
32,3047,33,David Thomson,61,Male,None,Media & Entertainment,Media,25.0,https://specials-images.forbesimg.com/imageserve/5a7ba72aa7ea43169012f1b4/416x416.jpg?background=000000&cropX1=566&cropX2=3532&cropY1=6&cropY2=2972
33,1658,34,Jacqueline Mars,78,Female,None,Food And Beverage,"Candy, Pet Food",23.6,https://specials-images.forbesimg.com/imageserve/59d50d06a7ea436b47b36d84/416x416.jpg?background=000000&cropX1=154&cropX2=1649&cropY1=394&cropY2=1889
34,4180,35,John Mars,82,None,None,Food And Beverage,"Candy, Pet Food",23.6,https://specials-images.forbesimg.com/imageserve/59d50d06a7ea436b47b36d84/416x416.jpg?background=000000&cropX1=154&cropX2=1649&cropY1=394&cropY2=1889
35,5033,36,Joseph Safra,79,None,None,Finance And Investments,Banking,23.5,https:http://specials-images.forbesimg.com/imageserve/5722763231358e1869e2bbc0/416x416.jpg?background=000000&cropX1=161&cropX2=647&cropY1=16&cropY2=502
36,7095,37,Giovanni Ferrero,53,Male,Italy,Food And Beverage,"Nutella, Chocolates",23.0,https:http://specials-images.forbesimg.com/imageserve/5722763231358e1869e2bbc0/416x416.jpg?background=000000&cropX1=161&cropX2=647&cropY1=16&cropY2=502
37,9715,38,Dietrich Mateschitz,74,Male,None,Food And Beverage,Red Bull,23.0,https://specials-images.forbesimg.com/imageserve/5a7b6c3831358e4955acdba2/416x416.jpg?background=000000&cropX1=790&cropX2=3611&cropY1=12&cropY2=2832
38,5793,39,Michael Dell,53,Male,None,Technology,Dell Computers,22.7,https://specials-images.forbesimg.com/imageserve/58c1d2e731358e1a35acba6b/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=163&cropY2=907
39,8324,40,Masayoshi Son,60,None,None,Telecom,"Internet, Telecom",22.7,https://specials-images.forbesimg.com/imageserve/5ac24da531358e4112b689b7/416x416.jpg?background=000000&cropX1=864&cropX2=4200&cropY1=0&cropY2=3334
40,3345,41,Serge Dassault,93,Male,None,Diversified,Diversified,22.6,https://specials-images.forbesimg.com/imageserve/5a7dfc4a31358e4955ad0b78/416x416.jpg?background=000000&cropX1=598&cropX2=3315&cropY1=99&cropY2=2816
41,2380,42,Stefan Quandt,52,None,None,Automotive,Bmw,22.0,https://specials-images.forbesimg.com/imageserve/56c7cdc0e4b062f6b59a2400/416x416.jpg?background=000000&cropX1=5&cropX2=744&cropY1=3&cropY2=743
42,3693,43,Yang Huiyan,35,Female,China,Real Estate,Real Estate,21.9,https://specials-images.forbesimg.com/imageserve/5a0b1b83a7ea436b47b558ba/416x416.jpg?background=000000&cropX1=1&cropX2=600&cropY1=3&cropY2=602
43,7946,44,Paul Allen,65,Male,None,Technology,"Microsoft, Investments",21.7,https:http://specials-images.forbesimg.com/imageserve/57f4fbeb4bbe6f75c4fda22d/416x416.jpg?background=000000&cropX1=82&cropX2=675&cropY1=8&cropY2=601
44,9466,45,Leonardo Del Vecchio,83,Male,None,Fashion & Retail,Eyeglasses,21.2,https://specials-images.forbesimg.com/imageserve/5a7f931f31358e4955ad1e20/416x416.jpg?background=000000&cropX1=4&cropX2=1440&cropY1=4&cropY2=1440
45,4477,46,Dieter Schwarz,78,Male,Germany,Fashion & Retail,Retail,20.9,https://specials-images.forbesimg.com/imageserve/5a7f931f31358e4955ad1e20/416x416.jpg?background=000000&cropX1=4&cropX2=1440&cropY1=4&cropY2=1440
46,1325,47,Thomas Peterffy,73,Male,None,Finance And Investments,Discount Brokerage,20.3,https://specials-images.forbesimg.com/imageserve/59d55c694bbe6f37dda00008/416x416.jpg?background=000000&cropX1=904&cropX2=2836&cropY1=905&cropY2=2839
47,5504,48,"Theo Albrecht, Jr.",67,None,Germany,Fashion & Retail,"Aldi, Trader Joe'S",20.2,https://specials-images.forbesimg.com/imageserve/59d55c694bbe6f37dda00008/416x416.jpg?background=000000&cropX1=904&cropX2=2836&cropY1=905&cropY2=2839
48,8775,49,Len Blavatnik,61,None,None,Diversified,Diversified,20.2,https://specials-images.forbesimg.com/imageserve/59d50f2831358e542c034f95/416x416.jpg?background=000000&cropX1=963&cropX2=2028&cropY1=234&cropY2=1299
49,6828,50,He Xiangjian,75,Male,None,Manufacturing,Home Appliances,20.1,https://specials-images.forbesimg.com/imageserve/5a7cb54ca7ea431690130761/416x416.jpg?background=000000&cropX1=210&cropX2=1953&cropY1=660&cropY2=2404

### Export the dataframe to_csv:

In [76]:
forbes_df.to_csv('../data/processed/forbes_df.csv')