### Import libraries and other configurations:

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine

In [3]:
pd.set_option('display.max_rows', 200)

In [4]:
pd.set_option('display.max_columns', 20)

In [5]:
pd.set_option('display.max_colwidth', -1)

### SQLite conection with engine creation:

In [6]:
sqlitedb_path = '../data/raw/herreradelduque.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [7]:
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

,type,name,tbl_name,rootpage,sql
0,table,rank_info,rank_info,2,"CREATE TABLE rank_info (\n\tid BIGINT NOT NULL, \n\tname TEXT, \n\tposition FLOAT, \n\t""Unnamed: 0"" BIGINT, \n\tCONSTRAINT rank_info_pk PRIMARY KEY (id)\n)"
1,table,personal_info,personal_info,34,"CREATE TABLE personal_info (\n\tid BIGINT NOT NULL, \n\t""lastName"" TEXT, \n\tage TEXT, \n\t""Unnamed: 0"" BIGINT, \n\tgender TEXT, \n\tcountry TEXT, \n\timage TEXT, \n\tCONSTRAINT personal_info_pk PRIMARY KEY (id)\n)"
2,table,business_info,business_info,155,"CREATE TABLE business_info (\n\tid BIGINT NOT NULL, \n\t""Unnamed: 0"" BIGINT, \n\t""Source"" TEXT, \n\tworth TEXT, \n\t""worthChange"" TEXT, \n\t""realTimeWorth"" FLOAT, \n\t""realTimePosition"" BIGINT, \n\tCONSTRAINT business_info_pk PRIMARY KEY (id)\n)"

In [8]:
rank_info = pd.read_sql_query("SELECT * FROM rank_info", engine)
display(rank_info)

        id                         name  position  Unnamed: 0
0     5788  anant asavABHOKHIN & FAmily NaN        0
1     1023  aRASH FERDowsi              NaN        1
2     6230  banthoon LAMSAM & FAmily    NaN        2
3     4073  bill adderLEY & family      NaN        3
4     7648  boris ZINGARevich           NaN        4
...    ...                ...            ..       ..
2255  5027  zhao XIAOQIang               2204.0    2255
2256  1258  zHOU LIANGZHang              2205.0    2256
2257  7890  zhu XINGMing                 2206.0    2257
2258  9083  zhuO JUN                     2207.0    2258
2259  9092  olGUN ZOrlu                  2208.0    2259

[2260 rows x 4 columns]

In [9]:
personal_info = pd.read_sql_query("SELECT * FROM personal_info", engine)
personal_info

,id,lastName,age,Unnamed: 0,gender,country,image
0,6448,bEZOs,54 years old,52,M,United States,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,GATES,62 years old,53,M,United States,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,bufFETt,87 years old,54,Male,United States,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,arnAULT,69 years old,55,M,None,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,zUCKERBErg,1985,56,M,None,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
...,...,...,...,...,...,...,...
2203,5027,ZHAO,51 years old,2255,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2204,1258,zHOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2205,7890,ZHU,51 years old,2257,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2206,9083,zHUO,52 years old,2258,None,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2207,9092,zoRLu,54 years old,2259,M,None,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963

In [10]:
business_info = pd.read_sql_query("SELECT * FROM business_info", engine)
display(business_info)

,id,Unnamed: 0,Source,worth,worthChange,realTimeWorth,realTimePosition
0,6448,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1
1,3509,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2
2,3062,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3
3,5964,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4
4,1044,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5
...,...,...,...,...,...,...,...
2203,5027,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,None,2134
2204,1258,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,None,2134
2205,7890,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,None,1856
2206,9083,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,None,1978
2207,9092,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,None,1978

In [11]:
rank_info.dtypes

id            int64
name          object
position      float64
Unnamed: 0    int64
dtype: object

In [12]:
personal_info.dtypes

id            int64
lastName      object
age           object
Unnamed: 0    int64
gender        object
country       object
image         object
dtype: object

In [13]:
business_info.dtypes

id                  int64
Unnamed: 0          int64
Source              object
worth               object
worthChange         object
realTimeWorth       object
realTimePosition    int64
dtype: object

### Calulation of %Null Columns:

In [14]:
null_cols_rank = rank_info.isnull().sum()

null_cols_rank[null_cols_rank > 0]/ len(rank_info)*100

position    2.300885
dtype: float64

In [15]:
null_cols_personal_info = personal_info.isnull().sum()

null_cols_personal_info[null_cols_personal_info > 0] / len(personal_info) * 100

age       2.943841
gender    0.588768
dtype: float64

In [16]:
null_cols_business_info = business_info.isnull().sum()

null_cols_business_info[null_cols_business_info > 0] / len(business_info) * 100

realTimeWorth    100.0
dtype: float64

### Drop 'realTimeWorth' from 'business_info' DataFrame and check the # of cols:

In [17]:
business_info.drop(['realTimeWorth'], axis=1, inplace=True)

len(business_info.columns)

6

### Drop 'Unnamed: 0' from DataFrames, since it's duplicated (index), and check the # of cols:

In [18]:
rank_info.drop(['Unnamed: 0'], axis=1, inplace=True)
len(rank_info.columns)

3

In [19]:
personal_info.drop(['Unnamed: 0'], axis=1, inplace=True)
len(personal_info.columns)

6

In [20]:
business_info.drop(['Unnamed: 0'], axis=1, inplace=True)
len(business_info.columns)

5

### Drop the rows where at leats one element is missing

In [21]:
rank_info.dropna(inplace=True)
rank_info

        id             name  position
52    6448  jeFF BEzos       1.0
53    3509  biLL GATes       2.0
54    3062  warrEN BUFFETT   3.0
55    5964  berNARD ARNAult  4.0
56    1044  mark zuCKERberg  5.0
...    ...              ...  ...
2255  5027  zhao XIAOQIang   2204.0
2256  1258  zHOU LIANGZHang  2205.0
2257  7890  zhu XINGMing     2206.0
2258  9083  zhuO JUN         2207.0
2259  9092  olGUN ZOrlu      2208.0

[2208 rows x 3 columns]

### Fill null values

In [22]:
personal_info['age'].fillna(0,inplace=True)
personal_info['gender'].fillna(0,inplace=True)
personal_info.isnull().sum()

id          0
lastName    0
age         0
gender      0
country     0
image       0
dtype: int64

In [23]:
business_info.isnull().sum()

id                  0
Source              0
worth               0
worthChange         0
realTimePosition    0
dtype: int64

### String columns to lowercase:

In [24]:
rank_info['name'] = rank_info['name'].str.lower()
rank_info

        id             name  position
52    6448  jeff bezos       1.0
53    3509  bill gates       2.0
54    3062  warren buffett   3.0
55    5964  bernard arnault  4.0
56    1044  mark zuckerberg  5.0
...    ...              ...  ...
2255  5027  zhao xiaoqiang   2204.0
2256  1258  zhou liangzhang  2205.0
2257  7890  zhu xingming     2206.0
2258  9083  zhuo jun         2207.0
2259  9092  olgun zorlu      2208.0

[2208 rows x 3 columns]

In [25]:
personal_info['lastName'] = personal_info['lastName'].str.lower()
personal_info['country'] = personal_info['country'].str.lower()
personal_info['gender'] = personal_info['gender'].str.lower()
personal_info

,id,lastName,age,gender,country,image
0,6448,bezos,54 years old,m,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097
1,3509,gates,62 years old,m,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360
2,3062,buffett,87 years old,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322
3,5964,arnault,69 years old,m,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736
4,1044,zuckerberg,1985,m,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044
...,...,...,...,...,...,...
2203,5027,zhao,51 years old,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2204,1258,zhou,55 years old,m,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2205,7890,zhu,51 years old,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2206,9083,zhuo,52 years old,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963
2207,9092,zorlu,54 years old,m,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963

In [26]:
business_info['Source'] = business_info['Source'].str.lower()
business_info

,id,Source,worth,worthChange,realTimePosition
0,6448,technology ==> amazon,112.0 BUSD,0.0 millions USD,1
1,3509,technology ==> microsoft,90.0 BUSD,-0.001 millions USD,2
2,3062,finance and investments ==> berkshire hathaway,84.0 BUSD,-0.002 millions USD,3
3,5964,fashion & retail ==> lvmh,72.0 BUSD,0.0 millions USD,4
4,1044,technology ==> facebook,71.0 BUSD,0.0 millions USD,5
...,...,...,...,...,...
2203,5027,"fashion & retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,2134
2204,1258,manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,2134
2205,7890,manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,1856
2206,9083,manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,1978
2207,9092,diversified ==> diversified,1.0 BUSD,nan millions USD,1978

### Split columns:

In [27]:
business_info_temp = business_info['Source'].str.split(' ==> ',n=1, expand=True)

business_info['sector'] = business_info_temp[0]
business_info['corp.'] = business_info_temp[1]

 
business_info.drop(['Source'], axis=1, inplace=True)

business_info

,id,worth,worthChange,realTimePosition,sector,corp.
0,6448,112.0 BUSD,0.0 millions USD,1,technology,amazon
1,3509,90.0 BUSD,-0.001 millions USD,2,technology,microsoft
2,3062,84.0 BUSD,-0.002 millions USD,3,finance and investments,berkshire hathaway
3,5964,72.0 BUSD,0.0 millions USD,4,fashion & retail,lvmh
4,1044,71.0 BUSD,0.0 millions USD,5,technology,facebook
...,...,...,...,...,...,...
2203,5027,1.0 BUSD,0.0 millions USD,2134,fashion & retail,"fashion, entertainment"
2204,1258,1.0 BUSD,nan millions USD,2134,manufacturing,electrical equipment
2205,7890,1.0 BUSD,0.0 millions USD,1856,manufacturing,electrical equipment
2206,9083,1.0 BUSD,0.0 millions USD,1978,manufacturing,printed circuit boards
2207,9092,1.0 BUSD,nan millions USD,1978,diversified,diversified

In [28]:
business_info_temp = business_info['worthChange'].str.split(' ',n=1, expand=True)

business_info['worth_change_musd'] = business_info_temp[0]
business_info['worth_to_drop'] = business_info_temp[1]

business_info.drop(['worth_to_drop'],axis=1, inplace=True)
business_info.drop(['worthChange'], axis=1, inplace=True)

business_info

,id,worth,realTimePosition,sector,corp.,worth_change_musd
0,6448,112.0 BUSD,1,technology,amazon,0.0
1,3509,90.0 BUSD,2,technology,microsoft,-0.001
2,3062,84.0 BUSD,3,finance and investments,berkshire hathaway,-0.002
3,5964,72.0 BUSD,4,fashion & retail,lvmh,0.0
4,1044,71.0 BUSD,5,technology,facebook,0.0
...,...,...,...,...,...,...
2203,5027,1.0 BUSD,2134,fashion & retail,"fashion, entertainment",0.0
2204,1258,1.0 BUSD,2134,manufacturing,electrical equipment,nan
2205,7890,1.0 BUSD,1856,manufacturing,electrical equipment,0.0
2206,9083,1.0 BUSD,1978,manufacturing,printed circuit boards,0.0
2207,9092,1.0 BUSD,1978,diversified,diversified,nan

In [29]:
business_info_temp = business_info['worth'].str.split(' ', n=1,expand=True)

business_info['worth_busd'] = business_info_temp[0]
business_info['worth_to_drop'] = business_info_temp[1]

business_info.drop(['worth_to_drop'],axis=1,inplace=True)
business_info.drop(['worth'],axis=1,inplace=True)

business_info

,id,realTimePosition,sector,corp.,worth_change_musd,worth_busd
0,6448,1,technology,amazon,0.0,112.0
1,3509,2,technology,microsoft,-0.001,90.0
2,3062,3,finance and investments,berkshire hathaway,-0.002,84.0
3,5964,4,fashion & retail,lvmh,0.0,72.0
4,1044,5,technology,facebook,0.0,71.0
...,...,...,...,...,...,...
2203,5027,2134,fashion & retail,"fashion, entertainment",0.0,1.0
2204,1258,2134,manufacturing,electrical equipment,nan,1.0
2205,7890,1856,manufacturing,electrical equipment,0.0,1.0
2206,9083,1978,manufacturing,printed circuit boards,0.0,1.0
2207,9092,1978,diversified,diversified,nan,1.0

In [30]:
personal_info_temp = personal_info['age'].str.split(' ',n=1,expand=True)

personal_info['age_years'] = personal_info_temp[0]
personal_info['age_to_drop'] = personal_info_temp[1]

personal_info.drop(['age'],axis=1,inplace=True)
personal_info.drop(['age_to_drop'],axis=1,inplace=True)

personal_info

,id,lastName,gender,country,image,age_years
0,6448,bezos,m,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,gates,m,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,buffett,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,arnault,m,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,zuckerberg,m,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,1985
...,...,...,...,...,...,...
2203,5027,zhao,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,zhou,m,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,zhu,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,zhuo,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,zorlu,m,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

### Rename columns to lowercase:

In [31]:
business_info.rename(columns={'realTimePosition':'real_time_position'}, inplace=True)
business_info

,id,real_time_position,sector,corp.,worth_change_musd,worth_busd
0,6448,1,technology,amazon,0.0,112.0
1,3509,2,technology,microsoft,-0.001,90.0
2,3062,3,finance and investments,berkshire hathaway,-0.002,84.0
3,5964,4,fashion & retail,lvmh,0.0,72.0
4,1044,5,technology,facebook,0.0,71.0
...,...,...,...,...,...,...
2203,5027,2134,fashion & retail,"fashion, entertainment",0.0,1.0
2204,1258,2134,manufacturing,electrical equipment,nan,1.0
2205,7890,1856,manufacturing,electrical equipment,0.0,1.0
2206,9083,1978,manufacturing,printed circuit boards,0.0,1.0
2207,9092,1978,diversified,diversified,nan,1.0

### DataFrame adjust "astype()"

In [32]:
rank_info = rank_info.astype({'position': int})
rank_info.dtypes

id          int64
name        object
position    int64
dtype: object

In [33]:
business_info = business_info.astype({'worth_change_musd':float},{'worth_busd':float})
business_info.dtypes

id                    int64
real_time_position    int64
sector                object
corp.                 object
worth_change_musd     float64
worth_busd            object
dtype: object

In [34]:
#personal_info = personal_info.astype({'age_years':int})

# if we try to modify the column 'age_years', we get an error, because of null values
personal_info.isnull().sum()

id           0
lastName     0
gender       13
country      0
image        0
age_years    65
dtype: int64

### DataFrame replace values:

In [35]:
personal_info['gender'].replace(to_replace='m', value='male',inplace=True)
personal_info['gender'].replace(to_replace='f', value='female',inplace=True)

personal_info['age_years'].replace(to_replace='nan',value=-9999, inplace=True)

personal_info

,id,lastName,gender,country,image,age_years
0,6448,bezos,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,gates,male,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,buffett,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,arnault,male,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,zuckerberg,male,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,1985
...,...,...,...,...,...,...
2203,5027,zhao,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,zhou,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,zhu,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,zhuo,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,zorlu,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

In [36]:
personal_info['age_years'].fillna(-9999, inplace=True)

In [37]:
personal_info['gender'].fillna('none', inplace=True)

In [38]:
personal_info.isnull().sum()

id           0
lastName     0
gender       0
country      0
image        0
age_years    0
dtype: int64

### ...dataFrame adjust "astype()"

In [39]:
personal_info = personal_info.astype({'age_years':int})

In [40]:
personal_info.dtypes

id           int64
lastName     object
gender       object
country      object
image        object
age_years    int64
dtype: object

### Year replacing by age:

In [41]:
personal_info.loc[personal_info['age_years']> 125, 'age_years'] = 2018 - personal_info['age_years']
personal_info

,id,lastName,gender,country,image,age_years
0,6448,bezos,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,gates,male,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,buffett,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,arnault,male,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,zuckerberg,male,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33
...,...,...,...,...,...,...
2203,5027,zhao,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,zhou,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,zhu,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,zhuo,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,zorlu,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

### ...status of our dataframes:

In [42]:
personal_info

,id,lastName,gender,country,image,age_years
0,6448,bezos,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54
1,3509,gates,male,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62
2,3062,buffett,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87
3,5964,arnault,male,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69
4,1044,zuckerberg,male,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33
...,...,...,...,...,...,...
2203,5027,zhao,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2204,1258,zhou,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55
2205,7890,zhu,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51
2206,9083,zhuo,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52
2207,9092,zorlu,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54

In [43]:
business_info

,id,real_time_position,sector,corp.,worth_change_musd,worth_busd
0,6448,1,technology,amazon,0.000,112.0
1,3509,2,technology,microsoft,-0.001,90.0
2,3062,3,finance and investments,berkshire hathaway,-0.002,84.0
3,5964,4,fashion & retail,lvmh,0.000,72.0
4,1044,5,technology,facebook,0.000,71.0
...,...,...,...,...,...,...
2203,5027,2134,fashion & retail,"fashion, entertainment",0.000,1.0
2204,1258,2134,manufacturing,electrical equipment,NaN,1.0
2205,7890,1856,manufacturing,electrical equipment,0.000,1.0
2206,9083,1978,manufacturing,printed circuit boards,0.000,1.0
2207,9092,1978,diversified,diversified,NaN,1.0

In [44]:
rank_info

        id             name  position
52    6448  jeff bezos       1
53    3509  bill gates       2
54    3062  warren buffett   3
55    5964  bernard arnault  4
56    1044  mark zuckerberg  5
...    ...              ... ..
2255  5027  zhao xiaoqiang   2204
2256  1258  zhou liangzhang  2205
2257  7890  zhu xingming     2206
2258  9083  zhuo jun         2207
2259  9092  olgun zorlu      2208

[2208 rows x 3 columns]

### We need to merge the 3 dataframes in order to make our job eassyer:

In [45]:
forbes_df_intermediate_merge = pd.merge(rank_info, personal_info, on='id', how='outer')

forbes_df = pd.merge(forbes_df_intermediate_merge, business_info, on='id', how='outer')

forbes_df

,id,name,position,lastName,gender,country,image,age_years,real_time_position,sector,corp.,worth_change_musd,worth_busd
0,6448,jeff bezos,1,bezos,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54,1,technology,amazon,0.000,112.0
1,3509,bill gates,2,gates,male,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62,2,technology,microsoft,-0.001,90.0
2,3062,warren buffett,3,buffett,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87,3,finance and investments,berkshire hathaway,-0.002,84.0
3,5964,bernard arnault,4,arnault,male,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69,4,fashion & retail,lvmh,0.000,72.0
4,1044,mark zuckerberg,5,zuckerberg,male,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33,5,technology,facebook,0.000,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,5027,zhao xiaoqiang,2204,zhao,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,2134,fashion & retail,"fashion, entertainment",0.000,1.0
2204,1258,zhou liangzhang,2205,zhou,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55,2134,manufacturing,electrical equipment,NaN,1.0
2205,7890,zhu xingming,2206,zhu,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,1856,manufacturing,electrical equipment,0.000,1.0
2206,9083,zhuo jun,2207,zhuo,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52,1978,manufacturing,printed circuit boards,0.000,1.0
2207,9092,olgun zorlu,2208,zorlu,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54,1978,diversified,diversified,NaN,1.0

### ...in our new dataframe we can identify some duplicated information as: 'name' <->'lastName' 
... so that, let's remove it!

In [46]:
forbes_df.drop(['lastName'], axis=1, inplace=True)
forbes_df

,id,name,position,gender,country,image,age_years,real_time_position,sector,corp.,worth_change_musd,worth_busd
0,6448,jeff bezos,1,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54,1,technology,amazon,0.000,112.0
1,3509,bill gates,2,male,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62,2,technology,microsoft,-0.001,90.0
2,3062,warren buffett,3,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87,3,finance and investments,berkshire hathaway,-0.002,84.0
3,5964,bernard arnault,4,male,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69,4,fashion & retail,lvmh,0.000,72.0
4,1044,mark zuckerberg,5,male,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33,5,technology,facebook,0.000,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,5027,zhao xiaoqiang,2204,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,2134,fashion & retail,"fashion, entertainment",0.000,1.0
2204,1258,zhou liangzhang,2205,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55,2134,manufacturing,electrical equipment,NaN,1.0
2205,7890,zhu xingming,2206,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,1856,manufacturing,electrical equipment,0.000,1.0
2206,9083,zhuo jun,2207,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52,1978,manufacturing,printed circuit boards,0.000,1.0
2207,9092,olgun zorlu,2208,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54,1978,diversified,diversified,NaN,1.0

#### ...and some nulls:

In [47]:
forbes_df.isnull().sum()

id                    0
name                  0
position              0
gender                0
country               0
image                 0
age_years             0
real_time_position    0
sector                0
corp.                 0
worth_change_musd     107
worth_busd            0
dtype: int64

In [48]:
forbes_df['worth_change_musd'].fillna(0, inplace=True)
forbes_df.isnull().sum()

id                    0
name                  0
position              0
gender                0
country               0
image                 0
age_years             0
real_time_position    0
sector                0
corp.                 0
worth_change_musd     0
worth_busd            0
dtype: int64

In [49]:
forbes_df

,id,name,position,gender,country,image,age_years,real_time_position,sector,corp.,worth_change_musd,worth_busd
0,6448,jeff bezos,1,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d920d31358e4955adf197/416x416.jpg?background=000000&cropX1=755&cropX2=2357&cropY1=494&cropY2=2097,54,1,technology,amazon,0.000,112.0
1,3509,bill gates,2,male,united states,https://specials-images.forbesimg.com/imageserve/5a942b7b31358e79a28a452b/416x416.jpg?background=000000&cropX1=285&cropX2=3498&cropY1=146&cropY2=3360,62,2,technology,microsoft,-0.001,90.0
2,3062,warren buffett,3,male,united states,https://specials-images.forbesimg.com/imageserve/5a8d9b3a31358e4955adf300/416x416.jpg?background=000000&cropX1=378&cropX2=2650&cropY1=52&cropY2=2322,87,3,finance and investments,berkshire hathaway,-0.002,84.0
3,5964,bernard arnault,4,male,none,https://specials-images.forbesimg.com/imageserve/5a7de808a7ea431690131adf/416x416.jpg?background=000000&cropX1=125&cropX2=2852&cropY1=11&cropY2=2736,69,4,fashion & retail,lvmh,0.000,72.0
4,1044,mark zuckerberg,5,male,none,https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044,33,5,technology,facebook,0.000,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,5027,zhao xiaoqiang,2204,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,2134,fashion & retail,"fashion, entertainment",0.000,1.0
2204,1258,zhou liangzhang,2205,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,55,2134,manufacturing,electrical equipment,0.000,1.0
2205,7890,zhu xingming,2206,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,51,1856,manufacturing,electrical equipment,0.000,1.0
2206,9083,zhuo jun,2207,none,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,52,1978,manufacturing,printed circuit boards,0.000,1.0
2207,9092,olgun zorlu,2208,male,none,https://specials-images.forbesimg.com/imageserve/064a602f59f8656c7e2a1765a579be37/416x416.jpg?background=000000&cropX1=0&cropX2=744&cropY1=219&cropY2=963,54,1978,diversified,diversified,0.000,1.0