In [35]:
import requests
import pandas as pd

Completing the missing data.

First try getting the scraped url:

In [28]:
url = 'https://www.kaggle.com/soubenz/forbes-top-billionaires-list-2018/download'

r = requests.get(url,allow_redirects=True)

open('../data/raw/forbes-top-billionaires-list-2018.zip','wb').write(r.content)

8927

We get one file (zip) but it doesn't work.

We analize the redirect:

In [25]:
response = requests.get('https://www.kaggle.com/soubenz/forbes-top-billionaires-list-2018/download')
if response.history:
    print("Request was redirected")
    for resp in response.history:
        print(resp.status_code, resp.url)
    print("Final destination:")
    print(response.status_code, response.url)
else:
    print("Request was not redirected")

Request was redirected
302 https://www.kaggle.com/soubenz/forbes-top-billionaires-list-2018/download
Final destination:
200 https://www.kaggle.com/account/login?returnUrl=%2Fsoubenz%2Fforbes-top-billionaires-list-2018%2Fdata

We see that we do not arrive to the final url (to the zip file) because of the logging, but we can get the final url analizing with Google inspector:

In [30]:
url = 'https://storage.googleapis.com/kaggle-data-sets/33081/43334/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1577444456&Signature=s1ps2cSD66ljVlrSc7GxNSd36grxjA6Ih1PUrWntmvYrjqKRs4PnNkwSvdZrhx5pLm944%2FTNadtVV%2Fwm712VJJ%2Bhwq13IvDKGl4uv9ZxXSa7rNmZj5Mcqx6j2TYCUiIACGbmgQJQHt8BOOa6KYz7EaJR128%2Bn9E8WF0tZGa0oaLnMgZZk3i2IamdOkL9BnSr1EuzL9pvIL3uP1l7lhuIEXCdFRe79cr8AbNTAB269FE6%2BRNPS%2Bmx55wnp9MWbcCAgNZyEzxLPNcM0liI9w5pQY6OQIGfruWLUgX0ObS53SQmXCRMeUTm3o%2BlBuq1qFCbVxDsdfgcufX3ydCigZ0GvQ%3D%3D&response-content-disposition=attachment%3B+filename%3Dforbes-top-billionaires-list-2018.zip'

r = requests.get(url)

open('../data/raw/forbes-top-billionaires-list-2018.zip','wb').write(r.content)

115140

In [50]:
url = 'https://www.kaggle.com/fernandol/countries-of-the-world/download'

r = requests.get(url,allow_redirects=True)

open('../data/raw/world-countries.zip','wb').write(r.content)

8927

In [49]:
response = requests.get('https://www.kaggle.com/fernandol/countries-of-the-world/download')
if response.history:
    print("Request was redirected")
    for resp in response.history:
        print(resp.status_code, resp.url)
    print("Final destination:")
    print(response.status_code, response.url)
else:
    print("Request was not redirected")

Request was redirected
302 https://www.kaggle.com/fernandol/countries-of-the-world/download
Final destination:
200 https://www.kaggle.com/account/login?returnUrl=%2Ffernandol%2Fcountries-of-the-world%2Fdata

In [53]:
url = 'https://storage.googleapis.com/kaggle-data-sets/23752/30346/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1577448698&Signature=Bn2qMZEnH4OGTT9Z4OilcruHfey5fE6kdmjPNh9Uw%2FXEnc%2FhHShAlXL72jlUQq4wXHQhbQYva%2FS1YkwnZI0xLFdlbToJNENPRyev%2Btfq9vr129kVxPtBio7m3ivB3wdbysUdN2exAmaZ0Phi%2B7%2BzE5CXnDQiJqBkjt1QmM4M8o0CYvyXIJM4zQIIUyqP9d5O4%2Ba44oZQjkfNZN2lLqmossiq0ZI5%2FeR1HwUuHf7OYUrc3nQi9%2BC5BX%2FHf30MZBLPDpWfvBll4Cir9D6QmgYEOO9pURmt8r9%2BLrJmFGAv4AnXdKxXHaXEHxjvNP7Ew67OTLCCec%2BxHLKtn9zuFoYNZA%3D%3D&response-content-disposition=attachment%3B+filename%3Dcountries-of-the-world.zip'

r = requests.get(url,allow_redirects=True)

open('../data/raw/world-countries.zip','wb').write(r.content)

13735

In [43]:
df_forbes = pd.read_csv('../data/raw/forbes-top-billionaires-list-2018.zip')
df_forbes.head(5)

,position,name,lastName,age,country,gender,wealthSource,industry,worth,worthChange,realTimeWorth,realTimePosition,image
0,NaN,Anant Asavabhokhin & family,Asavabhokhin,67.0,Thailand,M,real estate,Real Estate,NaN,-0.001,NaN,1613,https://specials-images.forbesimg.com/imageser...
1,NaN,Arash Ferdowsi,Ferdowsi,32.0,United States,M,online file storage,Technology,NaN,0.000,NaN,1734,https://specials-images.forbesimg.com/imageser...
2,NaN,Banthoon Lamsam & family,Lamsam,65.0,Thailand,M,banking,Finance and Investments,NaN,0.001,NaN,1952,https://specials-images.forbesimg.com/imageser...
3,NaN,Bill Adderley & family,Adderley,70.0,United Kingdom,M,home furnishings,Fashion & Retail,NaN,0.000,NaN,1956,https://specials-images.forbesimg.com/imageser...
4,NaN,Boris Zingarevich,Zingarevich,58.0,Russia,M,"pulp and paper, diversified",Diversified,NaN,0.000,NaN,2103,https://specials-images.forbesimg.com/imageser...

In [54]:
df_countries = pd.read_csv('../data/raw/world-countries.zip')
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN